{% extends 'base.html' %}

{% block title %}
Animal Facts
{% endblock %}

{% block content %}
<h1>Animal Facts</h1>
<form action="/animal_facts" method="GET">
    <fieldset>
        <legend>Your Info:</legend>

        <label>
            Which animal(s) do you want facts on? (multi-select)
            <select name="animal" multiple style="width: 120px;>
            {% for animal in animal_list %}
                <option value="{{ animal }}">{{ animal }}</option>
            {% endfor %}
            </select>
        </label>

        <br><br>
        What category of animal fact?
        <input type="radio" name="fact_category" value="habitat">
        <label for="fact_category">Habitat</label>
        <input type="radio" name="fact_category" value="physical_characteristics">
        <label for="fact_category">Physical Characteristics</label>
        <input type="radio" name="fact_category" value="intelligence">
        <label for="fact_category">Intelligence</label>
        <br><br>

        <input type="submit" value="Get Fact!">
    </fieldset>
</form>

{% if animals_to_display %}
    <section id="form_results">
        <p>
            Here is your animal fact:
        </p>
        {% for animal in animals_to_display %}
            <p>
                <strong>{{ animal }}</strong><em>: {{ animal_to_fact[animal][fact_category] }}</em>
            </p>
        {% endfor %}
    </section>
{% endif %}

{% endblock %}